body{
    font-family: 'Play', sans-serif;
}
 .div-width img{
    border-radius: 50%;
    width: 600px;
    height: 600px;
    border: 5px solid gray;
    box-shadow: 50px 50px 100px gray;
   
}
.div-width{
    width: 50%;
    padding: 10px;
    margin: 20px;
   
}
section{
    display: flex;
}
div h1{
    font-size: 50px;
}
.blue-clr{
  color: rgb(40, 169, 219);
}
.div-width a{
    text-decoration: none;
    background-image: linear-gradient(cyan,rgb(7, 137, 177));
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    
}
