body{
    font-family: 'Play', sans-serif;
}
 .div-width img{
    border-radius: 60%;
    width: 100%;
    border: 5px solid skyblue;
    box-shadow: 50px 50px 100px gray;
    margin-top: 50px;
      
}
.div-width{
    width: 50%;
    padding: 20px;
    margin: 20px;
   
}
.experience-explain{
    display: flex;
    margin-bottom: 100px;
    
}
h1{
    font-size: 50px;

}
h2 {
    color: rgb(3, 112, 139);
}
.blue-clr{
  color: rgb(40, 169, 219);
}
.hire-me{
    text-decoration: none;
    background-image: linear-gradient(cyan,rgb(12, 143, 219));
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    
    
    
}
.resume-me{
    text-decoration: none;
    background-image: linear-gradient(rgb(64, 185, 241),rgb(12, 143, 219));
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}
 
#background{
    background-image: url(image/background5.jpg);
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-position-x: -50px;
    

}
#background2{
    background-image: url(image/background6.jpg);
    background-repeat: no-repeat;
    background-position:right;
    background-position-y: -70px;

}
.box-element {
    box-shadow: 10px 10px 40px gray;
    padding: 0px 20px;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;

}
.background3 {
    background-image: url(image/background1.jpg);
    background-repeat: no-repeat;
    border-left: 10px solid ;
    border-image: linear-gradient(rgb(28, 103, 153),rgb(128, 182, 218));
    border-image-slice: 1;
    

    
    
}
.background4 {
    background-image: url(image/background1.jpg);
    background-repeat: no-repeat;
    border-left: 10px solid ;
    border-image: linear-gradient(rgb(152, 214, 255),rgb(48, 100, 134));
    border-image-slice: 1;
    
    
    
}
footer{
    text-align: center;
}
